{% extends "user/read.html" %}

{% block page_primary_action %}
  <h2>{{ _('Dataset Access Passes') }}</h2>
{% endblock %}

{% block primary_content_inner %}
  <h2 class="hide-heading">
    {% block page_heading %}{{ _('Datasets') }}{% endblock %}
  </h2>
  {% block package_list %}
  {% if h.has_passes(user.name) %}
    {# render differently if a sysadmin #}
    {% if h.check_access('sysadmin') %}
      <p>This summary of passes held by user (showing valid and expired) is only available to system administrators</p>
      {% set url = h.url_for('laissezpasser.pass_index', target_user=user.name) %}
      {% snippet 'ckanext_laissezpasser/snippets/list_passes.html', passes=h.held_passes(user.name, filter_valid=False), url=url, key='dataset' %}
    {% else %}
      {% snippet 'snippets/package_list.html', packages=h.package_passes(user.name) %}
    {% endif %}
  {% else %}
    {% if is_myself %}
      <p class="empty">
        {{ _('You do not have any passes to access datasets.') }}
      </p>
    {% else %}
      <p class="empty">
        {{ _('User does not have any passes to access datasets.') }}
      </p>
    {% endif %}
  {% endif %}
  {% endblock %}
{% endblock %}
