<section class="dataset-access-passes">
  <h3>{{ _('Passes') }}
  {% snippet 'ckanext_laissezpasser/snippets/valid_pass_toggle.html', url=url %}
  </h3>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        {% if key == 'dataset' %}
          <th scope="col">{{ _('Package') }}</th>
        {% else %}
          <th scope="col" colspan=2>{{ _('User') }}</th>
        {% endif %}
        <th scope="col">{{ _('Valid Until') }}</th>
        <th scope="col">{{ _('Created by') }}</th>
        <th scope="col">{{ _('Created at') }}</th>
        <th scope="col">{{ _('Expire') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block dataset_access_passes %}
        {% for pass in passes %}
          {%- if pass.valid or session['show_invalid_passes'] == 'True' -%}
          {%- if not pass.valid -%}
          {% set extraclass = "warning" %}
          {%- else -%}
          {% set extraclass = "" %}
          {%- endif -%}
            {% if key == 'dataset' %}
              <td class="dataset-details {{ extraclass }}">
               <a href="{{ h.url_for('laissezpasser.new_laissezpasser', id=pass.dataset) }}">{{ pass.dataset }}</a>
              </td>
            {% else %}
              <td class="dataset-details {{ extraclass }}" property="dc:contributor">
              <a href="{{ h.url_for('laissezpasser.pass_index', target_user=pass.user_name) }}">
              {{ pass.user_name }}
              </a>
              </td>
              <td class="dataset-details {{ extraclass }}" property="dc:contributor">{{ h.linked_user(pass.user_name) }}</td>
            {% endif %}
              <td class="dataset-details {{ extraclass }}">
                  {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pass.valid_until %}
              </td>
              <td class="dataset-details {{ extraclass }}" property="dc:contributor">{{ pass.created_by }}</td>
              <td class="dataset-details {{ extraclass }}">
                  {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pass.created_at %}
              </td>
              <td class="dataset-details {{ extraclass }}">
                {%- if pass.valid -%}
                <div class="btn-group pull-right">
                  <a class="btn btn-danger btn-sm" href="{{ h.url_for('laissezpasser.passes_expire', id=pass.dataset, user_id=pass.user_name) }}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to expire the pass for this user?') }}" title="{{ _('Expire') }}">{% block expire_button_text %}<i class="fa fa-hourglass-end"></i>{% endblock %}</a>
                </div>
                {%- endif -%}
              </td>

          </tr>
          {%- endif -%}
        {% endfor %}
      {% endblock %}
    </tbody>
  </table>
</section>
